@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

$primary: #fbd810;
$secondary: #c0c891;
$black: #040403;
$white: #ececec;
$grey: #d6d8da;
$blue: #57b0f3;
$padding: clamp(1rem, 7vw, 10rem);
$mobile: 575px;

// Globals
* {
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
}

html,
body {
  position: relative;
  background-attachment: fixed;
  scroll-behavior: smooth;
  background: $grey;
  color: $black;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow: hidden;
  font-family: "Public Sans", Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  text-rendering: optimizeLegibility;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

svg {
  flex-shrink: 0;
}

//Fonts

h1 {
  font-size: clamp(7rem, 15vw, 12rem);
}

p {
  font-size: clamp(1rem, 2vw, 2rem);
  margin: 0;
}

// Content

.content {
  position: relative;
  width: 100%;
  height: 100vh;

  // Landing

  .landing {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3vh $padding 0 $padding;

    .landing-search {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .underline {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #040403;
      }

      .suggestions {
        display: flex;
        flex-wrap: wrap;
        padding-top: 2vh;
        
        .suggestion {
          padding: 1vh;
          margin: 0 1vh 1vh 0;
          border: 1px solid $black;
          transition: all 0.2s ease;
          overflow: hidden;

          &:hover {
            background-color: $black;
            color: $white;
            transition: all 0.2s ease;
          }
        }
      }

      .location-input {
        display: flex;
        border-radius: 5em;

        input,
        textarea {
          border: none;
          padding: 0;
          margin: 0;
          width: 100%;
          background: none;
          padding: 1vh 0 1vh 0;
        }
      }
    }
  }

  .weather-info-d {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    z-index: 10;
    padding: 6vh 0 6vh 0;
    height: 100vh;
    width: 100%;

    .weather-title {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: start;
      z-index: 10;
      width: 100%;
    }

    .bottom-info {
      width: 100%;

      .bottom-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;

        .temp-d {
          font-size: 20vw;
        }

        .forecast-wrapper-d {
          display: flex;
          flex-direction: row;

          div.forecast-d {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0 1vw 0 1vw;
            width: 7vw;
            height: 100%;
            padding: 2vh;
            border: 1px #040403 solid;
            border-radius: 3em;
            min-height: 15vh;
            min-width: 70px;
            max-width: 200px;

            p {
              padding: 0;
              padding-top: 4vh;
            }

            .icon-d {
              font-size: clamp(2rem, 3.5vw, 3.5rem);
            }
          }

          div.forecast-d:nth-child(1) {
            background-color: $black;
            color: $white;
          }
        }
      }
    }
  }

  // Weather Card

  .weather {
    position: relative;
    z-index: 9;
    height: 100%;
    width: 100%;
    padding: 2vh clamp(1rem, 5vw, 5rem) 2vh clamp(1rem, 5vw, 5rem);

    .weather-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 10;
      padding: 5vh 0 5vh 0;
      height: 100%;
      width: 100%;

      .weather-header-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .weather-header {
          padding: 0.5em 1em 0.5em 1em;
          color: black;
          border-radius: 1.8em;
          border: 1px solid black;
          z-index: 2;
        }
      }

      .temp {
        font-size: 45vw;
        margin-top: 5vh;
      }

      .bg-weather {
        position: absolute;
        top: 0;
        opacity: 0.3;
        font-size: 0vw;
      }

      .forecast-wrapper {
        display: flex;
        flex-direction: row;

        div.forecast {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin: 0 1vw 0 1vw;
          width: 100%;
          height: 100%;
          padding: 2vh;
          border: 1px #040403 solid;
          border-radius: 3em;
          min-height: 15vh;
          max-width: 100px;
          p {
            padding-top: 4vh;
          }

          .icon {
            font-size: clamp(2rem, 3.5vw, 3.5rem);
          }
        }

        div.forecast:nth-child(1) {
          background-color: $black;
          color: $white;
        }
      }
    }

    .extra-info {
      display: flex;
      flex-direction: column;
      margin: 5vh 0 2vh 0;

      .info-item {
        display: flex;
        align-items: center;
        margin: 2vh 5vw 2vh 0;

        p {
          margin-left: 2vw;
        }
      }
    }
  }
}

.city {
  text-transform: capitalize;
}

.back {
  display: flex;
  justify-content: end;

  svg {
    transform: scaleX(-1);
  }
}

h1 {
  letter-spacing: -0.1rem;
  line-height: 1;
}
.line-wrap {
  overflow: hidden;
  // height: 100%;
}

.city-name-wrapper {
  display: flex;
  justify-content: center;
  .city-name {
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid black;
    border-radius: 2em;
  }
}

.circle {
  position: absolute;
  top: 0;
  right: -50vw;
  bottom: 0;
  margin: auto;
  z-index: -2;
  content: "";
  width: 100%;
  height: 80%;
  border-radius: 100%;
  background-color: $primary;
  filter: blur(1.75em);
  opacity: 0.7;
}

.circle-d {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -120vh;
  margin: auto;
  z-index: -2;
  content: "";
  width: 90%;
  height: 90%;
  border-radius: 100%;
  // background-color: $primary;
  filter: blur(1.75em);
  opacity: 0.7;
}
